<div class="container">
    <div class="heading">
        Our Blogs
    </div>
    <p>Your Essential Web Development Roadmap</p>
    <div class="blogs">
        <div class="col">
            <img src="https://stmdevelopments.com/assets/front/img/1719904368866871951.jpg" alt="">
            <h3>aaa</h3>
        </div>
        <div class="col">
            <img src="https://stmdevelopments.com/assets/front/img/17198297191224644107.jpg" alt="">
            <h3>bbb</h3>
        </div>
        <div class="col"> 
            <img src="https://stmdevelopments.com/assets/front/img/17198215671675829990.jpg" alt="">
            <h3>ccc</h3>
        </div>
    </div>
</div>