<div class="container">
    <div class="heading">
        Our Services
    </div>
    <p>Many aspects of computing and technology and the term is more recognizable than before.</p>
    <div class="contain">
        <div class="col">
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/17104169811229528700.png" alt="">
                <h2>UI/UX</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/17104173241870922280.png" alt="">
                <h2>Web Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/17104173892100880390.png" alt="">
                <h2>Software Development</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
        </div>
        <div class="col">
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/17104174371738768652.png" alt="">
                <h2>Digital marketing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/1710417482596639617.png" alt="">
                <h2>Mobile Application</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
            <div class="item">
                <img src="https://stmdevelopments.com/assets/front/img/1710417562517558099.png" alt="">
                <h2>Social Media Marketing</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, voluptatem!</p>
            </div>
        </div>
    </div>
</div>