<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="strip"></div>
<div class="header">
    <div class="first">
        <ul>
            <li><i style="color: #f21b51; font-size: 20px;" class="fa-solid fa-phone"></i> Call Us At: 8979244576</li>
            <li><i style="color: #00BAA3; font-size: 20px;" class="fa-solid fa-envelope"></i> Mail To: devjai120gmail.com</li>
        </ul>
    </div>
    <div class="second">
        KPM developers
    </div>
    <div class="third">
        <button class="actionButton" routerLink="/contact">Get a quote</button>
    </div>
</div>
