<div class="container">

    <div class="heading">
        KPM Developments
    </div>
    <div class="contain">
        <div class="left">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad pariatur nobis quam quibusdam labore veniam, mollitia officia incidunt dolor ratione? Voluptatum aliquam quod numquam totam. Voluptatem neque officiis quasi nam, architecto, similique iste voluptas alias natus autem distinctio tenetur. Dicta maxime nulla similique, delectus possimus sit impedit recusandae quia quaerat!
            </p>
            <div class="list">
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp; Software Development</li>
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp; Web Development</li>
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp;Digital Marketing</li>
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp;Mobile App</li>
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp;UX/UI Design</li>
                <li><i class="fa-regular fa-hand-point-right"></i>&nbsp;Social Media Marketing</li>
            </div>
        </div>
        <div class="right">
            <img src="https://stmdevelopments.com/assets/front/img/1710414214371540048.png" alt="">
        </div>
    </div>
</div>