<div class="container">
    <div class="col">
        <p>
            Developments specializes in the Systems Analysis, Design and implementation of technical Software. STM
            Developments has been established in 2004 to service the customers...
        </p>
    </div>
    <div class="col">
        <h2>Important Links</h2>
        <p>XYZ Nagar, banglore (India)</p>
    </div>
    <div class="col">
        <h2>Address</h2>
        <i style="color: #f21b51; font-size: 20px;" class="fa-solid fa-phone"></i> Call Us At: 8979244576 <br>
        <i style="color: #00BAA3; font-size: 20px;" class="fa-solid fa-envelope"></i> Mail To: devjai120gmail.com
      
    </div>
    <div class="col">
        <h2>News Letter</h2>
        <p>None</p>
    </div>
</div>
<div class="end">Copyright © 2024. All Rights Reserved By KPM Developments</div>