
<div class="container">
    <div class="heading">
        Our Portfolio <br>
        Under development
    </div>
    <div class="contain">
        <div class="col">
            <img src="https://stmdevelopments.com/assets/front/img/1714037181135759842.jpeg" alt="">
            <h3>School ERP</h3>
        </div>
        <div class="col">
            <img src="https://stmdevelopments.com/assets/front/img/172076741583843225.jpg" alt="">
            <h3>Travel App</h3>
        </div>
        <div class="col">
            <img src="https://stmdevelopments.com/assets/front/img/1720765292144390642.jpg" alt="">
            <h3>News App</h3>
        </div>
    </div>
   
</div>