/* You can add global styles to this file, and also import other style files */
/* Remove default margin and padding */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

  li{
    text-decoration: none;
    list-style: none;
}



