<div class="container">
    <div class="heading"> Offer We Provide </div>
    <p>Developments specializes in the Systems Analysis, Design and <br> implementation of technical Software
    </p>

    <div class="contain">
        <div class="left">
            <ul>
                <li>Software Development</li>
                <li>IOS- Android Mobile Application Development</li>
                <li>Web portal Development</li>
                <li>Digital Marketing</li>
                <li>UX/UI Design</li>
                <li>B2B Portal Development</li>
            </ul>
        </div>
        <div class="right">
            <img src="https://stmdevelopments.com/assets/front/img/1609233266442735752.jpg" alt="" srcset="">
        </div>
    </div>
</div>