<app-header></app-header>
<app-navbar></app-navbar>
<div class="container">
    <h2>Products</h2>
    <p>Home>>Products</p>
</div>
<div class="contain">
    <div class="col">
        <img src="https://stmdevelopments.com/assets/front/img/portfolio_1716980286137408592.PNG" alt="">
        <p>Online Addmission portal</p>
    </div>
    <div class="col">
        <img src="https://stmdevelopments.com/assets/front/img/portfolio_1716980286137408592.PNG" alt="">
        <p>E-Commerce Website</p>
    </div>
    <div class="col">
        <img src="https://stmdevelopments.com/assets/front/img/portfolio_1716980286137408592.PNG" alt="">
        <p>Matrimony Website portal</p>
    </div>
</div>

<app-footer></app-footer>